
{% extends 'intstore/base.html' %}

{% block content %}
<div class="col-sm-9 padding-right"><!--features_items-->
    <div class="features_items">
        <h2 class="title text-center">Features Items</h2>
        {% for product in products %}
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="{% url 'product_detail' product.id %}"><img class="prod_img" src="{{ product.image.url }}"/></a>
                            <h2>{{ product.price }}</h2>
                            <a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div><!--features_items-->
{% endblock content %}
