{% extends 'intstore/base.html' %}

{% block content %}
    <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img class="prod_img_detail" src="{{ product.image.url }}" alt=""/>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="product-information"><!--/product-information-->
                    <img src="images/product-details/new.jpg" class="newarrival" alt=""/>
                    <h2>{{ product.title }}</h2>
                    <h4>{{ product.description }}</h4>
                    <p>Код товару: 1089772</p>
                    <span>
                        <span>{{ product.price }} грн.</span>
                    </span>
                    <p><b>Виробник:</b> E-SHOPPER</p>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab"><!--category-tab-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">Характеристики</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="details">
                    <p>{{ product.characteristic }}</p>
                </div>

            </div>
        </div><!--/category-tab-->

    </div>
{% endblock content %}
